<div>
    <h2>Agregar Contacto</h2>
    <form [formGroup]="contactForm" (ngSubmit)="addContact()">
      <div class="p-field">
        <label for="name">Nombre</label>
        <input id="name" type="text" pInputText formControlName="name" />
      </div>
  
      <div class="p-field">
        <label for="phone">Teléfono</label>
        <input id="phone" type="text" pInputText formControlName="phone" />
      </div>
  
      <button pButton type="submit" label="Agregar">ADD</button>
    </form>
  </div>
  
  <hr>
  
  <div>
    <h2>API DATA</h2>
    <ul>
      <li *ngFor="let item of data">
        id = {{item.id}}, name = {{item.name}}, phone = {{ item.phone }}
      </li>
    </ul>
  </div>
  